.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.SectionContent {
  max-width: 600px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start for left alignment */
}

.head {
   color: rgb(219, 124, 15);
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: start;
  text-decoration: none;
}

.SectionContent p {
  font-size: 1.2em;
  line-height: 1.8;
  margin-bottom: 20px;
  width: 100%;
  text-align: justify;
  padding: 10px 0;
  padding-left: 16px;
}

.SectionContent span {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  text-align: left; 
  padding-right: 40px; 
font-weight: bold;
}

.SectionContent span::before {
  font-weight: 300;
  content: "";
  position: absolute;
  bottom: -10px; 
  left: 0;
  right: 40px; 
  border-bottom: 1px solid #000; 
}

.SectionContent span::after {
  content: '+';
  position: absolute;
  right: 42px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 400;
}

.learn-more-button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #0a0a0a;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}

.mask-group {
  padding-bottom: 30px;
  margin-left: 30px;
  width: 40%;
  height: auto;
}
